---
---

.site-nav ul {
  //color: #fff;
  border: 0px solid;
  background-color: #5f7f79 !important;
}

.site-nav a {
  display: block;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  border: 0px solid;
  border-radius: .25rem;
}

.site-title a {
  border: 0px solid;
  //background-color: #5f7f79 !important;
}
